<link rel="stylesheet" type="text/css" href="../static/css/home.css">

<div class="main">
<!-- 	<div class="statistics-item lamp-count">
		<div class="title"><span>灯具设备数量</span></div>
		<div class="count-content">
			<div class="count-item controller-count"><span>控制器数量<br/><i>6</i>个</span></div>
			<div class="count-item gateway-count"><span>网关数量<br/><i>3</i>个</span></div>
			<div class="count-item node-count"><span>节点数量<br/><i>6</i>个</span></div>
		</div>
	</div>
	<div class="statistics-item dev-count">
		<div class="title"><span>子路由统计</span></div>
		<div class="count-content">
			<div class="count-item point-count"><span>路由数量<br/><i>0</i>个</span></div>
			<div class="count-item offline-count"><span>路由点离线数量<br/><i>0</i>个</span></div>
			<div class="count-item route-count"><span>路由点数量<br/><i>0</i>个</span></div>
		</div>
	</div> -->
	<div class="statistics-item online-count">
		<div class="title"><span>灯节点在线统计</span></div>
		<div class="online-content">
			<div id="online-chart"></div>
		</div>
	</div>
	<div class="statistics-item fault-statistics">
		<div class="title"><div class="bg-title"></div><span>巡检维修统计</span></div>
		<div class="fault-content">
			<div id="fault-chart"></div>
		</div>
	</div>
	<div class="statistics-item dev-statistics">
		<div class="title"><span>设备瞬时功率（W）</span></div>
		<div class="gateway-online">
			<div id="gateway-chart"></div>
		</div>
	</div>
	<div class="statistics-item repair-statistics">
		<div class="title"><span>故障分布统计</span></div>
		<div class="repair-content">
			<div id="repair-chart"></div>
		</div>
	</div>
</div>

<script src="../static/js/home.js" type="text/javascript"></script>