
<div class="left-menu">
<!--     <dl>
        <dt><a><i class="fa fa-sitemap"></i>网关福永总部</a></dt>
        <dd data-longitude="113.809062" data-latitude="22.688206" data-title="网关福永总部-路灯10M灯杆" data-code="112900"><a><i class="fa fa-lightbulb-o"></i>路灯10M灯杆</a></dd>
        <dd data-longitude="113.809062" data-latitude="22.688206" data-title="网关福永总部-路灯二号" data-code="111111"><a><i class="fa fa-lightbulb-o"></i>路灯二号</a></dd>
        <dd data-longitude="113.809062" data-latitude="22.688206" data-title="网关福永总部-路灯三号" data-code="111112"><a><i class="fa fa-lightbulb-o"></i>路灯三号</a></dd>
    </dl>
    <dl>
        <dt><a><i class="fa fa-sitemap"></i>网关坪山</a></dt>
        <dd data-longitude="114.389557" data-latitude="22.724419" data-title="网关坪山-路灯一号" data-code="111113"><a><i class="fa fa-lightbulb-o"></i>路灯一号</a></dd>
        <dd data-longitude="114.389557" data-latitude="22.724419" data-title="网关坪山-路灯二号" data-code="111114"><a><i class="fa fa-lightbulb-o"></i>路灯二号</a></dd>
        <dd data-longitude="114.389557" data-latitude="22.724419" data-title="网关坪山-路灯三号" data-code="111115"><a><i class="fa fa-lightbulb-o"></i>路灯三号</a></dd>
    </dl>
    <dl>
        <dt><a><i class="fa fa-sitemap"></i>网关大亚湾</a></dt>
        <dd data-longitude="114.43831" data-latitude="22.740241" data-title="网关大亚湾-路灯一号" data-code="111116"><a><i class="fa fa-lightbulb-o"></i>路灯一号</a></dd>
        <dd data-longitude="114.43831" data-latitude="22.740241" data-title="网关大亚湾-路灯二号" data-code="111117"><a><i class="fa fa-lightbulb-o"></i>路灯二号</a></dd>
        <dd data-longitude="114.43831" data-latitude="22.740241" data-title="网关大亚湾-路灯三号" data-code="111118"><a><i class="fa fa-lightbulb-o"></i>路灯三号</a></dd>
    </dl> -->
    <div class="bar"></div>
</div>